<h1>New post translation <%= link_to 'Back', posts_path %></h1>
<%@post=@post_translation.post%>

<%=render "nav_tabs"%>

<% if @langs.size>0 then %>
	<%= render 'form' %>
<%else%>
	<%= t(:no_langs_available)%>
<%end%>

