<a href="/ExternalInterfaceExample.html">Flash test</a>

<div id="gameDiv" style="position:relative; top:10px;"></div>
<script type="text/javascript" src = "/javascripts/tdef/game/pixi.js" ></script>
<script type="text/javascript" src = "/javascripts/tdef/game/engine_pixi.js" ></script>
<script type="text/javascript" src = "/javascripts/tdef/game/tilemap_pixi.js" ></script>
<script type="text/javascript" src = "/javascripts/tdef/game/asprite_pixi.js" ></script>
<script type="text/javascript" src = "/javascripts/tdef/game/test_pixi.js" ></script>


