
<h1>Tdef::Game#game</h1>
<p>Find me in app/views/tdef/game/game.html.erb</p>
<div><canvas height = 100 width = 100 id = 'mainGameCanvas' >Doesn't work</canvas></div>
<script type="text/javascript" src = "/javascripts/tdef/game/main.js" ></script>
<script type="text/javascript" src = "/javascripts/tdef/game/map.js" ></script>
<script type="text/javascript" src = "/javascripts/tdef/game/init.js" ></script>


